<div class="datetime-local-field">
  <mat-form-field appearance="outline" subscriptSizing="dynamic" class="dt-date">
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [formControl]="dateCtrl"
      (blur)="onBlur()"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="disabled" />
    <mat-datepicker #picker />
  </mat-form-field>
  <mat-form-field
    appearance="outline"
    subscriptSizing="dynamic"
    class="dt-time"
    [attr.aria-label]="label + ', hora'"
  >
    <input
      #timeInput
      matInput
      type="time"
      step="60"
      class="dt-time-input"
      [formControl]="timeCtrl"
      (blur)="onBlur()"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      class="dt-time-toggle"
      [disabled]="disabled"
      [attr.aria-label]="'Elegir hora para ' + label"
      (click)="openTimePicker()"
    >
      <mat-icon>schedule</mat-icon>
    </button>
  </mat-form-field>
</div>
